<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WAF Test Suite">

  <test name="Login Test case">
      <classes>
		  <class name="com.waf.testcases.TestLogin">
		  </class>
	  </classes>
  </test> 
  
  <test name = "Onboard Test case">
	  <classes>
		  <class name="com.waf.testcases.TestOnBoard">
		  </class>
	  </classes>
  </test>
  
  <test name = "Bot Mitigation Test case">
	  <classes>
		  <class name="com.waf.testcases.TestBotMitigation">
		  </class>
	  </classes>
  </test>
  
</suite> 
